---
const {key, itemRaceDate} = Astro.props;
---

<div class="w-full bg-[#d1d1d1] rounded-lg lg:w-5/12 flex items-center shadow-[4px_10px_70px_-10px_#0c1a6cc8]">
    <span class="text-lg h-full flex items-center p-1 bg-red-500 rounded-lg text-center font-bold md:p-6 md:text-4xl"> {itemRaceDate.id} </span>
    <img src={itemRaceDate.url_flag} alt="" class="h-14 w-20 p-2 md:h-20 md:w-32 object-cover" >
    <div class="flex flex-col text-[#1b1f24] h-20 justify-center">
        <span class="block m-0 text-[8px] md:text-[10px] italic font-extrabold">{itemRaceDate.date}</span>
        <p class="block m-0 text-red-500 text-lg md:text-xl font-bold">{itemRaceDate.name}</p>
        <span class="block m-0 font-bold text-sm md:text-md">{itemRaceDate.city}</span>
    </div>
</div>